<div class="footer">
  <p>
    ♥ from PhilaJSDev
    <a href="http://www.meetup.com/Philadelphia-JavaScript-Developers/" target="_blank">
      Meetup
    </a> |
    <a href="https://twitter.com/phillyjsdev/" target="_blank">
      Twitter
    </a>

  </p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
